<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tour Guide</ion-title>
    <ion-buttons end><button ion-button (click)="startOver()">
        <ion-icon padding-right name="refresh"></ion-icon>Start Over
      </button></ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light">
    <ion-segment color="primary" [(ngModel)]="activeTab">
      <ion-segment-button value="walk" (click)="changeTravelMode('WALKING')">
        <ion-icon name="walk"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bike" (click)="changeTravelMode('BICYCLING')">
        <ion-icon name="bicycle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="car" (click)="changeTravelMode('DRIVING')">
        <ion-icon name="car"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--this is the google maps map-->
  <div id="map"></div>
</ion-content>
<ion-footer class="directions-ion-card" style="visibility: hidden">
  <ion-toolbar padding>
    <span style="font-size: 15px">
        Generated Tour:
        </span>
    <br>
    <span style="font-size: 16px;">
          <span style="color: coral;">VALUE</span>&nbsp;<span style="color: cadetblue;"><span>VALUE</span></span>
    </span>
  </ion-toolbar>
</ion-footer>
<!--display total time and dist in page footer-->

<ion-pullup (onExpand)="footerExpanded()" class="directions-ion-card" (onCollapse)="footerCollapsed()" [(state)]="footerState">
  <ion-toolbar padding (tap)="toggleFooter()">
    <span style="font-size: 15px; color: gray">
      Generated Tour:
    </span>
    <br>
    <span style="font-size: 16px; padding-left: 10px;">
      <span style="color: coral;" id="totalTime"></span>&nbsp;<span style="color: cadetblue;"><span id="totalDist"></span></span>
    </span>
    <ion-buttons right>
      <button ion-button *ngIf="footerState == 0" (tap)="toggleFooter()">
        <ion-icon name="arrow-dropup"></ion-icon>
      </button>
      <button ion-button *ngIf="footerState == 1" (tap)="toggleFooter()">
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-content>
    <ion-list *ngIf="routeInfo">
      <ion-item *ngFor="let leg of legs" text-wrap>
        <ion-grid>
          <ion-row>
            <ion-col col-1 class="label-segment">{{leg.Label}}</ion-col>
            <ion-col col-8 class="start-segment" (click)="viewOnMap(leg)">{{leg.Start.name}}&nbsp;<ion-icon name="arrow-forward"></ion-icon></ion-col>
            <ion-col col-3 class="travel-segment">{{leg.Travel}}</ion-col>
          </ion-row>
        </ion-grid>
        <p *ngFor="let instruction of leg.Instructions" class="route-instruction">-&nbsp;<span [innerHtml]="instruction"></span><br></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pullup>