#map {
    height: 100%;
    width: 100%;
    padding-bottom: 60px;
}

.start-segment {
    text-align: left;
    color: coral;
}

.travel-segment {
    text-align: right;
    color: cadetblue;
}

.route-instruction {
    padding-bottom: 5px
}

.label-segment {
    font-size: 18px;
}
